body {
    margin: 0;
}
nav {
  cursor: pointer;
}
iframe {
    display: block;
    border: none;
    height: 100vh;
    width: 100vw;
}
#main {
	margin-top: 50px;
	margin-left: 50px;
  cursor: default;
}
#nombre{
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}
a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
#lista {
  margin-left: 25px;
  cursor: default;
}
#estudios {
  margin-top: 20px;
}