.contenido {
	width: 800px;
	margin: 0 auto;
	text-align: center;
}
h1 {
	font-size: 30px;
}
.tamaño {
	font-size: 15px;

}
a {
    text-decoration: inherit;
    color: inherit;
    cursor: inherit;
    font-size: 15px;
}
.list-group-item {
    padding: 15px 10px
}
.pointer {
	cursor: pointer;
}