/* Cambios realizados en el archivo HTML:



*/
html {
  font-family: 'Supermercado One', cursive;
}

h1 {
  font-size: 2.3em;
}

table, tr, td {
  margin: 0px auto;
  border: 1px solid DarkTurquoise;
  border-collapse: collapse;
}

table {
  width: 80%;
}

td:not(.nocentro) {
  text-align: center;
}

.fondo {
  margin-right: 15%;
  margin-left: 15%;
}

.receta {
  display: block;
  float: left;
  width: 60%;
  margin-left: 5%;
}

.barraDatosSociales {
  border: solid;
  border-top: none;
  border-right: none;
  margin-right: 3%;
  border-color: DarkTurquoise;
}

.barraDatosSociales li {
  padding-right: 5px;
  display: inline-block;
  margin: 5px 0;
  border-collapse: separate;
}

.barraDatosSociales li:not(:last-child) {
  border-right: solid;
  border-color: DarkTurquoise;
}

.barraDatosSociales li:not(:first-child) {
  padding-left: 5px;
}

.comentario {}

.respuesta {}

.categorias {
  width: 30%;
  margin-right: 5%;
  float: right;
  text-align: center;
}

.categorias a {
  background-color: #2d397e;
  color: white;
  padding: 5px 6px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid black 2px;
}

.categorias a:hover {
  background-color: #1ba7e5;
  color: black;
  padding: 5px 6px;
  margin: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: solid black 2px;
}

.otrasRecetas {
  width: 30%;
  margin-right: 5%;
  text-align: center;
  float: right;
}

.otrasRecetas a {
  text-decoration: none;
  color: black;
}

.otrasRecetas a:hover {
  color: #1ba7e5;
}